<!doctype html>
<html ng-app="myApp">
<head>
  <meta charset="UTF-8">

  <title>My Angular App</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.css"></link>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
</head>

<body>

    <div ng-controller="OfferController" class="container">
      <div class="row">
        <div class="col-md-12">
          <h3><p class="bg-danger">{{offerLabel}}</p></h3>
          <div>
            <p>Choose plan</p>
            <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Plan</th>
                <th>Engagement</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="plan in plans">
                <td>{{plan.plan}}</td>
                <td>{{plan | prix}}</td>
                <td>{{plan | engagement}}</td>
              </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row" ng-repeat="detail in details" >
            <div class="col-sm-12">
              <h4><p class="bg-success">{{detail.label}}</p></h4>
              <div class="row" ng-repeat="choice in detail.choices">
                <div class="col-xs-12">
                  <div class="well">
                    <h5><p class="label label-info">{{choice.label}}</p></h5>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Plan</th>
                          <th>Engagement</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="plan in choice.tarifs">
                          <td>{{plan.plan}}</td>
                          <td>{{plan | prix}}</td>
                          <td>{{plan | engagement}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      (function() {
        var app = angular.module('myApp', []);

        var offer = app.factory('Catalog', function() {
          var offer = {
            offer: function() {
              return {
                label: "Offre Jet",
                code: 'jet',
                tarifs: [{
                      plan: 'mensuel',
                      prix: 10,
                      periode: 1,
                      engagement: 12
                    }, {
                      plan: 'annuel',
                      prix: 120,
                      periode: 12
                    }],

                details: [ {
                  code: 'trafic',
                  label: 'Trafic',
                  choices: [ {
                    label: 'Trafic 10 Giga',
                    code: 'jet10g',
                    tarifs: [{
                      plan: 'mensuel',
                      prix: 10,
                      periode: 1
                    }, {
                      plan: 'annuel',
                      prix: 120,
                      periode: 12
                    }],
                  }, {
                    label: 'Trafic 30 Giga',
                    code: 'jet30g',
                    tarifs: [{
                      plan: 'mensuel',
                      prix: 25,
                      periode: 1
                    }, {
                      plan: 'annuel',
                      prix: 300,
                      periode: 12
                    }],
                  }]
                }, {
                  code: 'voip',
                  label: 'Téléphonie',
                  choices: [ {
                    label: 'Téléphonie France Illimitée',
                    code: 'voip.fr',
                    tarifs: [{
                      plan: 'inclu'
                    }]
                  }, {
                    label: 'Téléphonie Fixe et Mobile de France Illimitée',
                    code: 'voip.fr_mobile',
                    tarifs: [{
                      plan: 'chaque_mois',
                      prix: '7',
                      periode: 1,
                    }]
                  }]
                }]
              };
            }
          };
          return offer;
        });

        function DraftOfferLine(offerCode) {
          this.code = offerCode;
          this.details = {};

          this.chosenDetail = function(detailCode, choiceCode, plan) {
            this.details[detailCode] = {
              choice: {
                code: choiceCode
              },
              plan: {
                code: plan
              }
            }
          }
        }

        function Draft() {
          this.lines = [];

          this.newOfferLine = function(offerCode) {
            this.lines.push(new DraftOfferLine(offerCode));
          }

          this.firstLine = function() {
            return this.lines[0];
          }
        }

        var draft = app.factory('MyDraft', function() {
          var draft = new Draft();
          draft.newOfferLine('jet');
          
          return draft;
        });



        var controller = app
          .filter('prix', function() {
            return function(plan) {
              if(plan.prix) {
                var per = '';
                if(plan.periode) { 
                  if(plan.periode == 1) { per = ' par mois'; }
                  else if(plan.periode == 12) { per = ' par an'; }
                  else if(plan.periode == 3) { per = ' par trimestre'; }
                  else if(plan.periode == 6) { per = ' par semestre'; }
                  else { per = ' pour ' + plan.periode + ' mois'; }
                }
                return plan.prix + " €" + (per?per:'');
              }
              return 'Inclu';
             };
           })
          .filter('engagement', function() {
            return function(plan) {
              return plan.engagement?(plan.engagement + ' mois'):'sans engagement';
            };
          })
          .controller('OfferController', function ($scope, Catalog, MyDraft) {

          var offer = Catalog.offer();
          var draft = MyDraft.firstLine();

          var refresh = function ($scope, offer, draft) {
            $scope.offerLabel = offer.label;

            $scope.plans = offer.tarifs;

            $scope.details = _.map(offer.details, function(detail) {
              var displayDetail = _.clone(detail);
              return displayDetail;
            });
          }

          refresh($scope, offer);
        });
      }());
    </script>
  </body>
</html>
